This document describes how to build a Rakudo distribution using
Dist::Zilla and the dist.ini file.

=head2 Building a Distribution

In order to build a Rakudo distribution, you need to have the following Perl
modules installed:

* Dist::Zilla (obviously)
* Dist::Zilla::PluginBundle::Rakudo

Once these modules are installed, from the root directory of this 
repository execute the following command:

    $ dzil build

This will create a distribution based on the current month.  For instance,
if the current month is October 2010, the distribution built will be

    rakudo-star-2010.10.tar.gz

=head2 Customizing the distribution

In order to affect the contents of the distribution, edit the
F<dist.ini> file to include the appropriate revision of Parrot, NQP,
Rakudo and whatever modules you wish to include.

